body {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff; /* Fond blanc */
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.column {
    flex: 1;
    padding: 10px;
    border: 1px solid #d147a3; /* Bordure rose */
    border-radius: 8px;
    background-color: #f9f9f9; /* Fond léger pour la colonne */
}

h2, h3 {
    color: #a1357a; /* Couleur rose plus sombre pour les titres */
    margin-top: 10px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #d147a3; /* Couleur rose pour les labels */
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #d147a3; /* Bordure rose */
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold; /* Texte en gras */
}

button {
    padding: 10px 15px;
    background-color: #d147a3; /* Couleur rose pour les boutons */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold; /* Texte en gras */
}

button:hover {
    background-color: #b8378a; /* Couleur rose foncée au survol */
}

span {
    font-weight: bold;
    color: #4CAF50; /* Couleur verte pour les résultats */
}

.total-result {
    margin-top: 20px;
    text-align: center;
}

input:focus {
    outline: none;
    border-color: #d147a3; /* Bordure rose lorsque le champ est actif */
    box-shadow: 0 0 5px #d147a3; /* Ombre rose */
}
