body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff; /* Fond blanc */
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.column {
    flex: 1;
    padding: 10px;
    background-color: #fff; /* Fond blanc pour les colonnes */
    border-radius: 10px;
    box-shadow: none; /* Suppression de l'ombre */
}

label {
    display: block;
    margin-top: 10px;
    color: #d147a3; /* Texte couleur rose */
}

input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #d147a3; /* Bordure rose */
    border-radius: 5px;
}

